.childrenContainer {
    width: max-content;
}

.container {
    position: absolute;
    top: 45px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    max-height: 250px;
    overflow-y: auto;
    padding: 16px;
    background-color: var(--default-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    border: 1px solid var(--border);
    border-radius: 8px;
    z-index: 2;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item {
    display: flex;
    gap: 4px;
}

.label {
    width: 100%;
}

.input:hover,
.label:hover {
    cursor: pointer;
}

.label:hover {
    color: var(--contrast-color);
}

.resetBtn {
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 4px;
    background-color: var(--default-background);
}

.resetBtn:hover {
    background-color: var(--default-background-hover);
    cursor: pointer;
}
