:root {
  --black: #000000;
  --background: rgba(217, 224, 231);
  --blue: #1f6feb;
  --light-gray: #c4c4c4;
  --dark-gray: #4c4c4c;
  --light-gray-border: 2px dashed var(--light-gray);
  --nav-width: 250px;
}

* {
  font-family: Nunito, serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark-gray);
  list-style-type: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 20px;
}

.leaderboard,
.global-top,
.diagrams {
  width: calc(100dvw - var(--nav-width));
  min-height: 100dvh;
  position: relative;
  left: var(--nav-width);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.leaderboard-wrapper,
.global-top-wrapper,
.diagrams-wrapper {
  width: 80%;
  min-height: 100%;
  border: var(--light-gray-border);
  border-radius: 0.5rem;
  padding: 1rem;
  background: var(--background);
}

.leaderboard-title,
.global-top-title,
.diagrams-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.black-highlight {
  color: var(--black);
}

.bold {
  font-weight: bold;
}

.blue-highlight {
  color: var(--blue);
}

.leaderboard-table,
.global-top-table {
  width: 100%;
  border: var(--light-gray-border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  flex-direction: column;
  border-spacing: 0;
}

.diagrams-table {
  width: 100%;
  border: var(--light-gray-border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.single-diagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--light-gray-border);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 40%;
}

.leaderboard-table-heading th,
.global-top-table-heading th {
  color: var(--black);
  font-weight: bold;
}

.leaderboard-table-heading th,
.leaderboard-table-row td,
.global-top-table-heading th,
.global-top-table-row td {
  text-align: start;
  padding: 0.5rem;
}

.leaderboard-table-row td,
.global-top-table-row td {
  border-top: 1px solid var(--light-gray);
}

tr.leaderboard-table-row:nth-child(-n + 3) {
  background: rgba(205, 127, 50, 0.75);
  font-weight: bold;
}

tr.leaderboard-table-row:nth-child(-n + 2) {
  background: rgba(192, 192, 192, 0.75);
}

tr.leaderboard-table-row:nth-child(-n + 1) {
  background: rgb(255, 215, 0, 0.75);
}

tr.leaderboard-table-row th {
  background: var(--background);
}

.global-top-table-row td:nth-child(-n + 5),
.global-top-table-heading th:nth-child(-n + 5) {
  background: rgba(205, 127, 50, 0.75);
}

.global-top-table-row td:nth-child(-n + 4),
.global-top-table-heading th:nth-child(-n + 4) {
  background: rgba(192, 192, 192, 0.75);
}

.global-top-table-row td:nth-child(-n + 3),
.global-top-table-heading th:nth-child(-n + 3) {
  background: rgb(255, 215, 0, 0.75);
}

.global-top-table-row td:nth-child(-n + 2),
.global-top-table-heading th:nth-child(-n + 2) {
  background: var(--background);
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100dvh;
  background: #29333a;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-item,
.nav-item-active {
  width: 100%;
  text-align: center;
  color: #ffffff;
  border-left: 3px solid rgba(0, 0, 0, 0);
  padding: 0.5rem;
  transition: all 0.5s;
  text-transform: capitalize;
}

.nav-item-active,
.nav-item:hover {
  background: #4f5b69;
  border-left: 3px solid #00acac;
}